<div class='container-home-background'>
  <strong><h2>Talvez possa parecer que não tem nada poraqui mas você pode começar algo se cadastrando clicando no botão do meio</h2></strong>
  <div class='container-header-buttons'>
    <%= link_to "Sign-Up", new_user_path, class: "header-signup-button" %>
    <%= link_to "Log-in", login_path, class: "header-login-button" %>
  </div>
  <strong><h2>Maybe this page can looks like there is anything yet but you could start something by clicking in this button in the middle</h2></strong>
</div>