html{
  background-image: url('backgrounds/site-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}
body {
  padding: 5px;
}
.header-container {
  width: 100%;
  background-image: url('logo.png');
  background-repeat: repeat-y;
  background-size: cover;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 10);
}
  header.navbar {
    position: absolute;
    padding-top: 1%;
    width: 100%;
    background-color: transparent;
  }
    .container-header-buttons, .navbar{
      display: flex;
      justify-content: flex-end;
      padding: 10px;
    }
      .header-settings-button, .header-logout-button{
        padding: 10px 20px;
        margin: 5px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        background-color: azure;
        box-shadow: 0 0 3px rgba(0, 0, 0, 10);
        width: 100px;
      }

.div-notice{
  display: flex;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 40%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
  justify-content: center;
  align-items: center;
  width: auto;
  border-radius: 10px;
  background-color: rgb(252, 70, 70, 0.8);
  z-index: 1;
}
  #notice{
    font-weight: bold;
    color: rgb(32, 32, 32);
    margin: 5px;
  }


.container-yield{
  height: auto;
  background-color: azure;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 10);
}
  .container-signup-page, .container-login-page {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: inherit;
    background-image: url('backgrounds/home-background.png');
    background-repeat: space;
    background-size: cover;
    width: 100%;
    height: auto;
    transform: translateX(-10px);
    background-position: center bottom;
  }
    .left-side-signup, .left-side-login{
      margin: 20px;
      background-image: url('signup-login-left-side.png');
      width: 300px;
      border-radius: inherit;
      background-size: cover;
    }
    .right-side-signup, .right-side-login{
      margin: 20px;
      padding: 20px;
      border-radius: 10px;
      width: 300px;
      background-color: rgba(70, 164, 252, 0.3);
      backdrop-filter: blur(10px);
      box-shadow: 0 0 5px rgba(0, 0, 0, 10);
    }
      .signup-form-textboxes, .login-form-textboxes{
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .signup-form-textboxes label, .login-form-textboxes label {
        padding-right: 10px;
      }
      .signup-form-textboxes, input[type="text"], input[type="password"],
      .login-form-textboxes, input[type="text"], input[type="password"] {
        padding: 8px;
        margin-bottom: 10px;
      }
      #signup-form-submit-button, #login-form-submit-button {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        color: #000000;
        background-color: #f5ff6b;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        font-weight: bold;
      }
      .container-signup-link, .container-login-link{
        display: flex;
        justify-content: end;
      }
        .signup-login-link{
          margin-left: 10px;
          font-weight: bold;
        }

  .container-account-overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 35px;
  }
    .container-edit-account-option, .container-close-account-option{
      display: none;
    }
      .edit-user-form-textboxes{
        display: flex;
        flex-direction: column;
        background-color: bisque;
        padding: 20px;
        margin: 10px;
        border-radius: 5px;
      }
        .current-password-field{
          padding: 10px;
          margin: 10px;
          border-radius: 5px;
          background-color: #ff9c9c;
        }

.index-task-list, .new-task-page, .edit-task-page, .show-task-page{
  margin: 10px;
  padding: 30px;
}
  .task-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
    .container-postit-li {
      display: block;
      width: calc(20% - 20px);
      margin: auto;
      padding: 2px;
      border-radius: 5px;
      transition: transform 0.3s ease;
      background-color: transparent;
      box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    }
      .postit-header{
        font-weight: bold;
      }
      .postit-body{
        background-color: rgb(255, 245, 104);
      }
      .postit-footer{
        background-color: rgb(90, 255, 255);
      }
        .postit-buttons{
          display: flex;
          justify-content: space-around;
        }
          .postit-add-button, .postit-edit-button, 
          .user-edit-button
          .default-delete-button{
            text-align: center;
            font-size: 16px;
            cursor: pointer;
          }
          .postit-add-button {
            color: blue;
          }
          .postit-edit-button,
          .user-edit-button{
            color: blue;
          }
          .default-delete-button{
            color: #ff0000;
            font-weight: bold;
          }
          .postit-corner-botton-right{
            font-weight: bold;
          }

    .task-list li:hover {
      transform: scale(1.1);
      z-index: 1;
    }
      .container-postit{
        border: none;
        border-radius: 10px;
        background-color: #000000;
      }
        .form-task-textbox{
          display: grid;
          justify-content: center;
        }
          .task-id, .task-content {
            color: black;
          }
          .task-button{
            display: block;
          }

#footer-background{
  height: auto;
}
  .footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;

    box-shadow: 0 0 3px rgba(0, 0, 0, 10);
    height: auto;
  }
  #sessionTimer{
    opacity: 0.4;
  }